<header>
    <div id="mainHeader">
        <h1>{{site.title}}</h1>
        <h4>{{site.subtitle}}</h2>
    </div>
    <img id="logo" src="{{baseurl}}/assets/logo.png" />
</header>
<nav>
    <a class="home" href="{{baseurl}}/"><i class="fas fa-home"></i></a>
    <a href="{{baseurl}}/pages/program.html">Program</a>
    <a href="{{baseurl}}/pages/program-eng.html">Agenda (eng)</a>
    <a href="{{baseurl}}/pages/program-niemerytoryczny.html">Program niemerytoryczny</a>
    <a href="{{baseurl}}/pages/rejestracja.html">Rejestracja</a>
    <a href="{{baseurl}}/pages/hotel.html">Lokalizacja</a>
    <a href="{{baseurl}}/pages/kontakt.html">Kontakt</a>
</nav>