<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/main.css">
        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.title }}</title>
    </head>
    <body>
        <div class="container">
            {% include header.html %}

            <div class="content">
                {{ content }}
            </div>
            {% include footer.html %}
        </div>

        {% include scripts.html %}
        
    </body>
</html>